<!-- team/templates/team/team_member_form.html -->
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="text-right mb-4">
  <a
    href="{% url 'team_member_list' %}"
    class="text-gray-500 hover:text-blue-600"
    >Back to List</a>
</div>
<h1 class="text-2xl font-bold mb-1">
  {% if object %}Edit{% else %}Add a{% endif %} Team Member
</h1>
<p class="text-slate-500 text-sm mb-4 pb-4 border-b border-solid border-color-gray-75">
  Set contact info and role
</p>
<form id="team-member-form" method="post" class="space-y-4" novalidate>
  {% csrf_token %}
  <h2 class="text-xl font-bold mb-1">
    Info
  </h2>
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <div class="flex flex-col">
        {% if field.html_name != 'role' %}
          <input
            aria-label="{{ field.label }}"
            type="{{ field.field.widget.input_type }}"
            name="{{ field.html_name }}"
            id="{{ field.id_for_label }}"
            placeholder="{{ field.label }}"
            value="{{ field.value|default_if_none:'' }}"
            class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            {% if field.field.required %}required{% endif %}
          />
          <p class="text-sm text-red-500 hidden"></p>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}

  <h2 class="text-xl font-bold mb-1">
    Role
  </h2>

  {% for value, label in form.role.field.choices %}
    <div class="flex flex-col pb-4 border-b border-solid border-gray-200">
      <label class="role-label flex items-center justify-between text-gray-500 hover:text-blue-600 cursor-pointer">
        <span class="text-sm">{{ label }}</span>
        <input type="radio" name="role" value="{{ value }}" 
          class="form-radio h-5 w-5 cursor-pointer sr-only" 
          {% if form.role.value == value or form.role.value is None and forloop.first %} checked {% endif %}
          onchange="handleRadioChange(this)"
        >
        <div class="w-5 h-5 inline-flex items-center justify-center border-2 rounded-full mr-2"></div>
      </label>
    </div>
  {% endfor %}
  
  <div id="error-container">
    {% if form.errors %}
      <div class="text-red-500 text-sm mt-2 bg-red-100 p-2 border border-solid border-red-500 rounded-md">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="flex justify-between pt-4">
    <input id="input-action" type="hidden" name="action" value="edit" />
    <div>
      {% if object %}
        <input type="button" id="delete" value="Delete" class="px-4 py-2 font-bold rounded border border-red-300 text-red-600 hover:bg-red-100 hover:cursor-pointer" />
      {% endif %}
    </div>
    <div>
      <input type="submit" value="Save" class="px-4 py-2 font-bold text-white bg-blue-600 rounded hover:bg-blue-700 hover:cursor-pointer" />
    </div>
  </div>
</form>

<script src="{% static 'team/js/team_member_form.js' %}"></script>
{% endblock %}